<!DOCTYPE html>
<html>
<head>
	<title>Projects page</title>
</head>
<body>
	<!-- Header partial loading -->
	{{> header}}

	<p>Here is some text</p>
	<!-- footer partial loading -->
	{{> footer}}
</body>
</html>